body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pentagon-border {
    position: absolute;
    width: 22em;
    height: 20em;
    background-color: blueviolet;
    box-shadow: 2px 2px 2px blue;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    animation: rotate 10s infinite ease-in-out;
}


.pentagon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #434444;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}