body {
  background: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.shape {
  --shapeHeight: 300px;
  --shapeWidth: 300px;
  height: var(--shapeHeight);
  width: var(--shapeWidth);
  background: pink;
  clip-path: shape(from 78.09% 59.53%,curve to 50.27% 79.92% with 66.86% 73.20%,curve to 19.67% 70.65% with 33.69% 86.64%,curve to 21.68% 43.88% with 5.65% 54.66%,curve to 50.04% 27.66% with 37.72% 33.10%,curve to 75.85% 34.05% with 62.37% 22.22%,curve to 78.09% 59.53% with 89.33% 45.87%);
  border-radius: 40% 35% 60% 90% / 45% 30% 56% 40%;
  /* animation: reshape 5s ease-in infinite; */
}

@keyframes reshape {
  0% {
    border-radius: 40% 35% 60% 90% / 45% 30% 56% 40%;
  }
  50% {
    border-radius: 40% 50% 50% 60% / 45% 40% 30% 30%;
  }

  100% {
    border-radius: 40% 35% 60% 90% / 45% 30% 56% 40%;
  }
}
